{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django CRUD</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima esse expedita ducimus exercitationem
            veritatis neque
            soluta numquam beatae fugit, similique cumque architecto commodi. Inventore culpa corrupti eaque repellat,
            ipsum
            labore adipisci nemo eos unde ut? Rerum asperiores maxime sint ad cum nihil assumenda, repellat, inventore
            minus aut
            perferendis accusantium quaerat quisquam obcaecati porro! Corrupti, suscipit veritatis. Dolores quasi
            cupiditate
            quos inventore ullam mollitia debitis officia assumenda, animi alias facere magnam rem atque, perferendis
            obcaecati!
            Libero perferendis quis cumque, nemo velit ut facilis, autem, pariatur consectetur totam officia illo
            repudiandae
            fugiat soluta placeat dolor nisi perspiciatis ea harum rerum ducimus! Aspernatur!</p>
        <br>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}